nav {
    width: 90%;
    height: 60px;
   /* background-color: rgb(40, 255, 93);*/
    background-color: rgb(133, 228, 55);
    border-radius: 40px 40px 40px 40px;
    box-shadow:2px 1px 3px rgba(0, 0, 0, 0.576);
    margin: 15px 5%;
}

aside {
    width: 40%;
    float: right;
    margin: 0.5%;
}

.menu {
    height: 100%;
}

img {
    width: 200px;
    margin-left: 3%;
}

a.menu1, .menu2, .menu3,.entrar {
    margin: 2.5% 3.5%;

}

a.menu1, .menu2, .menu3 {
    font-family: 'Roboto Condensed', sans-serif;;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

a.menu1:hover, .menu2:hover, .menu3:hover {
    color: rgb(35, 183, 237);
}

button.entrar {
    width: 25%;
    height: 30px;
    background-color: rgb(35, 183, 237);
    color: white;
    font-family: 'Roboto Condensed', sans-serif;;
    font-weight: 700;
    font-size: medium;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(222, 240, 63);
    color: rgb(35, 183, 237);
    border: 1px solid  rgb(35, 183, 237);
    transition: background-color 0.2s;
}